<p><%= @user_name =%></p>
<p><%= @details[:cn] =%></p>
<p><%= @details[:sn] =%></p>
<p><%= @details[:mail] =%></p>

<p><%= @data_string =%></p>
<p><%= @hmac =%></p>
<img src="/qrrender/<%= CGI.escape(@hmac) =%>.png"/>
