<h1>Student Robotics Ticket</h1>
<h2><%= @person_name =%></h2>
<p>School: <%= @school =%></p>
<p>Year: <%= @year   =%></p>
<p>User name: <%= @user_name =%></p>
<img src="/qrrender/<%= CGI.escape(@hmac_string + ":" + @hmac) =%>.png" />
